---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
    text-decoration: none; 
  }

  a:hover {
    color: #003f7f;
    text-decoration: underline; 
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 2rem;
  }

  .tag {
    margin: 0.5em;
    border: solid 1px #839791;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-size: 1em;
    background-color: #F8FCFD;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s;
  }

  .tag:hover {
    background-color: #e3f2fd;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
</style>
