---

---

<html lang="en">
    <a href="/fay.moe/">Home</a>
    <a href="/fay.moe/about/">About</a>
    <a href="/fay.moe/blog/">Blog</a>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>My Astro Site</h1>
		<h1>About me</h1>
        <h2>... and I'm my new site!</h2>
        <p>I am working through the Astro introductory tutorial, and this is my first page</p>

        <p>This page will be updated as I move along</p>
	</body>
</html>
