---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>A blog subtitle</h2>
  <Greeting client:load messages={["Hello", "Heya", "Hiii"]}/>
</BaseLayout>