---
---

<script src="/scripts/menu.js" type="module" defer></script>

<div id="hamburger" class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
