---
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>