---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      width: 55px; 
      line-height: 40px; 
      border-radius: 20%; 
      text-align: center;       
      color: white;
      background-color: #5e81ac;
      text-decoration: none;
    }
  </style>